<div class="home-center isResponsive">
	<h1 align='center' style='color: white'> Expreso Gran Muralla </h1>
<h3> <%= link_to "New Order", new_order_path, class: 'home-button', style: 'color: white;'%> </h3>
</div>