<div class='order-history'>
<h1>Order History</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Customer ID</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.created_at %></td>
        <td><%= order.type %></td>
        <td><%= order.customer_id %></td>
        <td><%= number_to_currency(order.total) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>